mixin button(obj)
    -var classStyle = 'button__' + obj.style
    div(class="button "+classStyle)
        a.button__link(href=obj.href)=obj.title 
        if obj.arrow 
            p.button__icon-arrow.icon-right_arrow   