.button {
    height: 100%;
    border-radius: 4px;
    &__empty {
        display: inline-flex;
        font-size: $FS-base;
        color: $primary;
        border: 1px solid $primary;
        padding: 0 32px;
        a:visited {
            color: $primary;
        }
    }
    &__fill {
        display: inline-flex;
        font-size: $FS-base;
        color: $white;
        background-color: $primary;
        padding: 0 40px;
        a:visited {
            color: $white;
        }
    }
    &__arrow {
        display: inline-flex;
        align-items: center;
        font-weight: 700;
        font-size: $FS-extrasmall;
        line-height: 36px;
        color: $primary;
        border: 1px solid $primary;
        padding: 0 32px;
        a:visited {
            color: $primary;
        }
    }
    &__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    &__icon-arrow {
        margin: 0 0 0 10px;
    }
    .icon-right_arrow {
        color: $primary;
        font-size: 10px;
    }
}