.card-arrivals {
    &__inner {
        position: relative;
    }
    &__img {}
    &__rating {
        position: absolute;
        top: 16px;
        right: 16px;
        width: 78px;
        display: flex;
        flex-direction: row;
    }
    &__star-fill {
        color: $warning-color;
    }
    &__star {
        color: $gray-500;
    }
    &__sale-badge {
        position: absolute;
        top: 16px;
        left: 16px;
        width: 54px;
        height: 28px;
        color: $white;
        background-color: $danger-color;
        font-size: 16px;
        line-height: 160%;
        border-radius: 4px;
    }
    &__wishlist {
        position: absolute;
        right: 16px;
        bottom: 16px; 
    }
    &__wishlist-button {
        width: 32px;
        height: 32px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: $gray-700;
        background-color: $white;
        border: none;
        border-radius: 50%;
    }
    &__title {
        color: $gray-800;
        font-size: $FS-large;
        line-height: 150%;
        margin: 16px 0 8px 16px;
    }
    &__price {
        color: $gray-900;
        font-size: $FS-lead;
        font-weight: 700;
        line-height: 130%;
        margin: 0 0 0 16px;
    }
    &__old-price {
        color: $gray-700;
        font-size: 16px;
        line-height: 150%;
        text-decoration-line: line-through;
    }
    &__price-red {
        color: $danger-color;
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        margin-right: 12px;
        margin: 0 0 0 16px;
    }
}