extends ../../layout/layout.pug

block variables
    - var pageTitle = 'Homepage'
    - var keywords = 'Homepage Createx'
    - var linkStyle = './homepage/homepage.scss'

block content 
    h1 hello web