extends ../../layout/layout.pug

block variables
    - var pageTitle = 'Homepage'
    - var keywords = 'Homepage Createx'
    - var linkStyle = './homepage/homepage.scss'

block content 
    .wrapper 
        include ../../components/hero-slide/hero-slide.pug
    script(src=require("../../components/hero-slide/hero-slide.js"))  