@import '../../components/hero-slide/hero-slide.scss';
@import '../../components/title/title.scss';
@import '../../components/img-link/img-link.scss';
@import '../../components/carousel-arrivals/carousel-arrivals.scss';
@import '../../components/banner/banner.scss';

body {
    font-family: $mainFont;
}

.main-slide {
    max-width: 1920px;
    position: relative;
    margin: auto auto 556px auto;
    &__hero-slide {}
    &__top-categories {
        position: absolute;
        top: 740px;
        left: 17%;
        width: 1230px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.new-arrivals {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__text {
        font-size: $FS-large;
        line-height: 150%;
        margin: 24px 0 0 0;
    }
    &__link {
        color: $primary;
        font-size: $FS-large;
        text-decoration: underline;
    }
    &__carousel {
        margin: 60px 0 180px 0;
    }
}

.banners {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 30px;
}

.popular-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 180px 0;
    &__list {
        width: 1230px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 60px 0 0 0;
    }
}