.special-offers 
    .special-offers__wrapper
        .special-offers__left-chevron.icon_left-chevron
        .special-offers__list
            a(href='#').special-offers__list-item
                .special-offers__text Up to 70% Off.
                .special-offers__text-underline Shop our latest sale styles 
            a(href='#').special-offers__list-item
                .special-offers__text Two slides.Two slides.Two slides.
                .special-offers__text-underline Shop our latest sale styles 
            a(href='#').special-offers__list-item
                .special-offers__text Three slides.
                .special-offers__text-underline Shop our latest sale styles 
        .special-offers__right-chevron.icon_right-chevron