.special-offers 
    .special-offers__wrapper
        button#special-offers__prev.special-offers__left-chevron.icon_left-chevron
        .special-offers__list
            ul.special-offers__list-body
                li.special-offers__list-item
                    .special-offers__item-content
                        .special-offers__text 
                            p Up to 70% Off.
                        .special-offers__link 
                            a(href="#") Shop our latest sale styles 
                li.special-offers__list-item
                    .special-offers__item-content 
                        .special-offers__text 
                            p  Two slides.
                        .special-offers__link 
                            a(href="#") Shop our latest sale styles 
        button#special-offers__next.special-offers__right-chevron.icon_right-chevron