include ../search/search.pug

header.header 
    .header__content._container 
        .header__logo 
            img(src=require('../../../img/logo.svg'), alt='logo')
        .header__menu
            include ../menu/menu.pug
        .header__megamenu
            include ../megamenu/megamenu.pug
        .header__search 
            +search('Search for products...')
        .header__tool-bar
            include ../tool-bar/tool-bar.pug