@import '../menu/menu.scss';
@import '../megamenu/megamenu.scss';
@import '../search/search.scss';
@import '../tool-bar/tool-bar.scss';

.header {
    &__content {
        height: 84px;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }
    &__logo {
        margin-right: 60px;
    }
    &__menu {}
    &__megamenu {
        display: none;
        position: absolute;
        top: 85px;
        left: 0;
        z-index: 10;
    }
    &__search {
        width: 380px;
        height: 44px;
        margin-left: 132px;
    }
    &__tool-bar {
        margin-left: 48px;
    }
    ._container {
        max-width: 1230px;
        margin: 0 auto;
    }
    ._active {
        display: block;
    }
}