mixin menu-secondary(arr, obj)
    .menu-secondary 
        ul(class=`menu-secondary__body-${obj.style}`) 
            each val in arr
                li.menu-secondary__item
                    a(href=val.href class=`menu-secondary__link-${obj.font}`)=val.title