.menu {
    &__content {
        width: 349px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__women {}
    &__men {}
    &__girls {}
    &__boys {}
    &__sale {}

    &__women-link {} 
    &__men-link {}
    &__girls-link {}
    &__boys-link {}
    &__sale-link {}

    ._menu-link {
        color: $gray-800;
        font-size: $FS-base;
        font-weight: 700;
        line-height: 25.6px;
        cursor: pointer;
    }
    ._menu-link:hover {
        color: $primary;
    }
    ._menu-link-primary {
        color: $primary;
    }
    ._menu-link-sale, ._menu-link-sale:hover {
        color: $danger-color;
    }
}


