.menu
    .menu__content
        .menu__women 
            p#menu-women.menu__women-link._menu-link Women   
        .menu__men 
            p.menu__men-link._menu-link(href="#") Men
        .menu__girls
            p.menu__girls-link._menu-link(href="#") Girls
        .menu__boys 
            p.menu__boys-link._menu-link(href="#") Boys
        .menu__sale 
            a.menu__sale-link._menu-link._menu-link-sale(href="#") Sale 