@import '../title/title.scss';
@import '../button/button.scss';

.megamenu {
    width: 100%;
    height: 0px;
    background-color: $white;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 128px;
    z-index: 10;
    transition: 0;
    overflow-x: hidden;
    &__content {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding: 20px 0 40px 0;
        margin: 0 auto;
    }
    &__inner {
        width: 810px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__categories {
        width: 180px;
        height: 108px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__clothes, &__shoes, &__accessories {
        width: 180px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__divider {
        width: 1px;
        height: 427px;
        background: $divider-gradient;

        margin: 0 68px 0 67px;
    }
    &__banner {
        display: flex;
        flex-direction: column;
    }
    &__banner-img {
        width: 100%;
    }
    &__banner-text {
        color: $gray-800;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        margin: 16px 0 16px 0;
    }
    &__banner-button {
        width: 130px;
        height: 36px;
    }
    &__title {
        margin-bottom: 8px;
    }
    &__link {
        font-size: $FS-small;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 8px;
    }
    ._megamenu-link-gray {
        color: $gray-800;
    }
    ._megamenu-link-sale {
        color: $danger-color;
    }   
    
    @media (min-width: 320px) and (max-width: 1229px) {
        &__divider {
            display: none;
        }
    }
    &__active {
        height: 487px;
        transition: 0.5s;
        border: solid $gray-300;
        border-width: 1px 0 0 0;
        border-radius: 0px 0px 4px 4px;
        overflow: hidden;
    }
    &__background {}
    @media (min-width: 320px) and (max-width: 945px) {
        width: 300px;
        left: auto;
        right: 0;
        transition: 0.5s;
        &__content {
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 20px 10px;
        }
        &__inner {
            width: 280px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
        }
        &__active {
            overflow: scroll;
            overflow-x: hidden;
        }
        &__categories, &__clothes, &__shoes, &__accessories {
            align-items: flex-end;
        }
        &__banner {
            align-items: center;
        }
    }
}
@media (min-width: 320px) and (max-width: 945px) {
    .megamenu-women {
        top: 165px;
    }
    .megamenu-men {
        top: 215px
    }
    .megamenu-girls {
        top: 265px;
    }
    .megamenu-boys {
        top: 310px
    }
}
