.lang-currency
    img.lang-currency__flag-usa(src=require('../../../img/flag-usa.svg'), alt='flag usa')
    p.lang-currency__currency Eng / $
    p.lang-currency__icon.icon_down-chevron
    .lang-currency__dropdown-content 
        a.lang-currency__link(href='#')
            img.lang-currency__flag-russia(src=require('../../../img/flag-russia.svg'), alt='flag russia')
            p.lang-currency__currency Руб / &#8381;