@import '../input/input.scss';

.subscribe {
    background-color: $gray-200;
    padding: 65px 0;
    &__content {
        max-width: 1230px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 10px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        padding: 35px 0;
    }
    &__info_title {
        color: $gray-900;
        font-size: 46px;
        font-style: normal;
        font-weight: 900;
        line-height: 130%;
    }
    &__info_subtitle {
        color: $gray-700;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin: 24px 0 32px 0;
    }
    &__info_people {
        display: flex;
        flex-direction: row;
        gap: 12px;
    }
    &__info_people-woman, &__info_people-men, &__info_people-girl, &__info_people-boy {
        color: $gray-700;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;

        border-radius: 4px;
        border: 1px solid $gray-400;
        padding: 5px 16px;
        cursor: pointer;
        transition: all 0.3s;
    }
    &__info_people-woman:hover, &__info_people-men:hover, &__info_people-girl:hover, &__info_people-boy:hover {
        color: $white;
        background-color: $primary;
        border: 1px solid $gray-200;
        transition: all 0.3s;
    }
    &__info_people-active {
        color: $white;
        background-color: $primary;
        border: 1px solid $gray-200;
    }
    &__info_email {
        width: 495px;
        margin: 32px 0 0 0;
    }
    &__info_checkbox {
        margin: 24px 0 0 0;
    }
    #subscribe-checkbox {}
    input[type=checkbox] {
        display: none;
    }
    &__info_checkbox-check {
        width: 16px;
        height: 16px;
        background-image: url('../../../img/unchecked.svg');
        border-radius: 2px;
    }
    input:checked ~ &__info_checkbox-check {
        background-image: url('../../../img/checked.svg');
    }
    &__info_checkbox-label {
        color: $gray-800;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__info_checkbox-text {
        margin: 0 0 0 12px;
    }
    &__img {}
    @media (min-width: 320px) and (max-width: 975px) {
        &__img {
            display: none;
        }
        &__content {
            justify-content: center;
        }
    }
    @media (min-width: 420px) and (max-width: 520px) {
        &__info_email {
            width: 300px;
        }
    }
    @media (min-width: 320px) and (max-width: 419px) {
        &__info_title {
            font-size: 36px;
        }
        &__info_email {
            width: 250px;
        }
        &__info_people {
            gap: 10px;
        }
        &__info_checkbox-label {
            font-size: 13px;
        }
        &__info_checkbox-text {
            margin: 0 0 0 7px;
        }
    }
}