include ../card-product/card-product.pug

.carousel-sale 
    .carousel-sale__carousel
        .carousel-sale__carousel-list
            +card-product({
                'img': '../../../img/sale-bag.png',
                'rating': '5',
                'title': 'Leather crossbody bag with gold hardware',
                'discount': '50',
                'price': '89.50',
                'oldPrice': '179.00',
                'style': 'large',
                'color': ['#C0DDED', '#874E19', '#000000']
            })
            +card-product({
                'img': '../../../img/sale-jeans.png',
                'title': 'Skinny push-up jeans',
                'discount': '50',
                'price': '40.00',
                'oldPrice': '80.00',
                'style': 'large'
            })
            +card-product({
                'img': '../../../img/sale-boots.png',
                'title': 'Wide heel suede ankle boots',
                'discount': '20',
                'price': '119.16',
                'oldPrice': '148.95',
                'style': 'large',
                'sizes': ['36', '37', '38', '39', '40'],
                'color': ['#000000', '#874E19', '#C0DDED']
            })
            +card-product({
                'img': '../../../img/sale-bag.png',
                'rating': '5',
                'title': 'Leather crossbody bag with gold hardware',
                'discount': '50',
                'price': '89.50',
                'oldPrice': '179.00',
                'style': 'large',
                'color': ['#C0DDED', '#874E19', '#000000']
            })
            +card-product({
                'img': '../../../img/sale-jeans.png',
                'title': 'Skinny push-up jeans',
                'discount': '50',
                'price': '40.00',
                'oldPrice': '80.00',
                'style': 'large'
            })
            +card-product({
                'img': '../../../img/sale-boots.png',
                'title': 'Wide heel suede ankle boots',
                'discount': '20',
                'price': '119.16',
                'oldPrice': '148.95',
                'style': 'large',
                'sizes': ['36', '37', '38', '39', '40'],
                'color': ['#000000', '#874E19', '#C0DDED']
            })
            +card-product({
                'img': '../../../img/sale-bag.png',
                'rating': '5',
                'title': 'Leather crossbody bag with gold hardware',
                'discount': '50',
                'price': '89.50',
                'oldPrice': '179.00',
                'style': 'large',
                'color': ['#C0DDED', '#874E19', '#000000']
            })
            +card-product({
                'img': '../../../img/sale-jeans.png',
                'title': 'Skinny push-up jeans',
                'discount': '50',
                'price': '40.00',
                'oldPrice': '80.00',
                'style': 'large'
            })
            +card-product({
                'img': '../../../img/sale-boots.png',
                'title': 'Wide heel suede ankle boots',
                'discount': '20',
                'price': '119.16',
                'oldPrice': '148.95',
                'style': 'large',
                'sizes': ['36', '37', '38', '39', '40'],
                'color': ['#000000', '#874E19', '#C0DDED']
            })
    .carousel-sale__button
        .carousel-sale__button-inner
            button.carousel-sale__button-prev.icon-left_arrow
        .carousel-sale__button-inner
            button.carousel-sale__button-next.icon-right_arrow