@import '../../components/hero-slide/hero-slide.scss';
@import '../../components/title/title.scss';
@import '../../components/img-link/img-link.scss';
@import '../../components/carousel-arrivals/carousel-arrivals.scss';
@import '../../components/banner/banner.scss';
@import '../../components/carousel-trending/carousel-trending.scss';
@import '../../components/carousel-sale/carousel-sale.scss';
@import '../../components/icon-box/icon-box.scss';
@import '../../components/blog-card/blog-card.scss';
@import '../../components/subscribe/subscribe.scss';

body {
    font-family: $mainFont;
}

.main-slide {
    max-width: 1920px;
    position: relative;
    margin: auto auto 556px auto;
    //&__hero-slide {}
    &__top-categories {
        position: absolute;
        top: 740px;
        left: 17%;
        width: 1230px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.new-arrivals {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__text {
        font-size: $FS-large;
        line-height: 150%;
        margin: 24px 0 0 0;
    }
    &__link {
        color: $primary;
        font-size: $FS-large;
        text-decoration: underline;
    }
    &__carousel {
        margin: 65px 0 180px 0;
    }
}

.banners {
    display: flex;
    row-gap: 13px;
    column-gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
}

.popular-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 180px 0;
    &__list {
        width: 1230px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 60px 0 0 0;
    }
}

.trending-now {
    height: 950px;
    background-color: $gray-300;
    padding: 80px 0;
    position: relative;
    &__title {
        padding: 0 345px;
    }
    &__carousel {
        margin: 60px 0 80px 0;
    }
    &__link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 52px;
        position: absolute;
        top: 818px;
        left: 855px;
        z-index: 0;
    }
}

.sale {
    height: 950px;
    background-color: $white;
    padding: 100px 0 150px 0;
    position: relative;
    &__title {
        padding: 0 345px;
    }
    &__carousel {
        margin: 60px 0 80px 0;
    }
    &__link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 52px;
        position: absolute;
        top: 818px;
        left: 855px;
        z-index: 0;
    }
}

.mobile-app {
    height: 330px;
    background-color: $gray-900;
    position: relative;
    &__block-white {
        height: 30px;
        background-color: $white;
    }
    &__img {
        position: absolute;
        top: 0;
        left: 317px;
    }
    &__inner {
        max-width: 1230px;
        padding: 60px 0 0 650px;
        margin: 0 auto;
    }
    &__title {
        width: 600px;
        color: $white;
        font-size: 32px;
        font-family: $mainFont;
        font-style: normal;
        font-weight: 900;
        line-height: 130%;
        margin: 0 0 48px 0;
    }
    &__button {
        display: flex;
        flex-direction: row;
    }
    &__app-store {
        margin-right: 24px;
    }
    &__google-play {}
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 45px;
    margin: 120px 0 180px 0;
    &__divider {
        width: 1px;
        height: 136px;
        background: $divider-gradient;
    }
}

.insta-block {
    max-width: 1230px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    &__inner {
        display: flex;
        flex-direction: column;
    }
    &__inner_top-title {
        color: $gray-900;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &__inner_title {
        color: $gray-900;
        font-size: 46px;
        font-style: normal;
        font-weight: 900;
        line-height: 130%;
        margin: 8px 0 60px 0;
    }
    &__inner_link {
        display: flex;
    }
    &__img {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
}

.fashion-block {
    max-width: 1230px;
    margin: 180px auto 0 auto;
    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 60px 0;
    }
    &__inner_title {}
    &__inner_link {
        height: 44px;
    }
    &__list {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}

.brands {
    max-width: 1230px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 120px auto;
}