include ../card-product/card-product.pug

.carousel-trending 
    .carousel-trending__carousel
        .carousel-trending__carousel-list
            +card-product({
                'img': '../../../img/trending-shirt.png',
                'rating': '5',
                'title': 'Shirt with insertion lace trims',
                'price': '49.95',
                'style': 'large',
                'sizes': ['XS', 'S', 'M', 'L', 'XL'],
                'color': ['#C0DDED', '#874E19', '#000000']
            })
            +card-product({
                'img': '../../../img/trending-watch.png',
                'rating': '4',
                'title': 'Chrono watch with blue leather belt',
                'price': '120.60',
                'style': 'large'
            })
            +card-product({
                'img': '../../../img/trending-coat.png',
                'title': 'Check coat with colour contrast',
                'price': '183.45',
                'style': 'large',
                'sizes': ['XS', 'S', 'M', 'L', 'XL'],
                'color': ['#C0DDED', '#874E19', '#000000']
            })
            +card-product({
                'img': '../../../img/trending-shirt.png',
                'rating': '5',
                'title': 'Shirt with insertion lace trims',
                'price': '49.95',
                'style': 'large',
                'sizes': ['XS', 'S', 'M', 'L', 'XL'],
                'color': ['#C0DDED', '#874E19', '#000000']
            })
            +card-product({
                'img': '../../../img/trending-watch.png',
                'rating': '4',
                'title': 'Chrono watch with blue leather belt',
                'price': '120.60',
                'style': 'large'
            })
            +card-product({
                'img': '../../../img/trending-coat.png',
                'title': 'Check coat with colour contrast',
                'price': '183.45',
                'style': 'large',
                'sizes': ['XS', 'S', 'M', 'L', 'XL'],
                'color': ['#C0DDED', '#874E19', '#000000']
            })
            +card-product({
                'img': '../../../img/trending-shirt.png',
                'rating': '5',
                'title': 'Shirt with insertion lace trims',
                'price': '49.95',
                'style': 'large',
                'sizes': ['XS', 'S', 'M', 'L', 'XL'],
                'color': ['#C0DDED', '#874E19', '#000000']
            })
            +card-product({
                'img': '../../../img/trending-watch.png',
                'rating': '4',
                'title': 'Chrono watch with blue leather belt',
                'price': '120.60',
                'style': 'large'
            })
            +card-product({
                'img': '../../../img/trending-coat.png',
                'title': 'Check coat with colour contrast',
                'price': '183.45',
                'style': 'large',
                'sizes': ['XS', 'S', 'M', 'L', 'XL'],
                'color': ['#C0DDED', '#874E19', '#000000']
            })
    .carousel-trending__button
        .carousel-trending__button-inner
            button.carousel-trending__button-prev.icon_left
        .carousel-trending__button-inner
            button.carousel-trending__button-next.icon_right