include ../card-arrivals/card-arrivals.pug

.carousel-arrivals
    .carousel-arrivals__list
        +card-arrivals({
            'img': '../../../img/sport-cap.png',
            'rating': '5',
            'title': 'Black and white sport cap',
            'price': '18.15'
        })
        +card-arrivals({
            'img': '../../../img/sunglasses.png',
            'title': 'Metal bridge sunglasses',
            'price': '89.95'
        })
        +card-arrivals({
            'img': '../../../img/green-baby-romper.png',
            'rating': '4',
            'title': 'Green baby romper',
            'price': '20.40'
        })
        +card-arrivals({
            'img': '../../../img/fit-jeans.png',
            'title': 'Mid-rise slim cropped fit jeans',
            'price': '40.00'
        })
        +card-arrivals({
            'img': '../../../img/earrings.png',
            'rating': '5',
            'title': 'Red dangle earrings',
            'price': '29.95'
        })
        +card-arrivals({
            'img': '../../../img/baby-shoes.png',
            'title': 'Baby shoes with laces',
            'price': '30.60'
        })
        +card-arrivals({
            'img': '../../../img/sport-cap.png',
            'rating': '5',
            'title': 'Black and white sport cap',
            'price': '18.15'
        })
        +card-arrivals({
            'img': '../../../img/sunglasses.png',
            'title': 'Metal bridge sunglasses',
            'price': '89.95'
        })
        +card-arrivals({
            'img': '../../../img/green-baby-romper.png',
            'rating': '4',
            'title': 'Green baby romper',
            'price': '20.40'
        })
        +card-arrivals({
            'img': '../../../img/fit-jeans.png',
            'title': 'Mid-rise slim cropped fit jeans',
            'price': '40.00'
        })
        +card-arrivals({
            'img': '../../../img/earrings.png',
            'rating': '5',
            'title': 'Red dangle earrings',
            'price': '29.95'
        })
        +card-arrivals({
            'img': '../../../img/baby-shoes.png',
            'title': 'Baby shoes with laces',
            'price': '30.60'
        })
    .carousel-arrivals__dot 
        .carousel-arrivals__dot-item
        .carousel-arrivals__dot-item
        .carousel-arrivals__dot-item
        .carousel-arrivals__dot-item
        .carousel-arrivals__dot-item
        .carousel-arrivals__dot-item