include ../card-product/card-product.pug

.swiper.carousel-arrivals
    .swiper-wrapper.carousel-arrivals__wrapper
        .swiper-slide.carousel-arrivals__slide
            +card-product({
                'img': '../../../img/sport-cap.png',
                'rating': '5',
                'title': 'Black and white sport cap',
                'price': '18.15',
                'style': 'small'
            })
        .swiper-slide.carousel-arrivals__slide
            +card-product({
                'img': '../../../img/sunglasses.png',
                'title': 'Metal bridge sunglasses',
                'price': '89.95',
                'style': 'small'
            })
        .swiper-slide.carousel-arrivals__slide
            +card-product({
                'img': '../../../img/green-baby-romper.png',
                'rating': '4',
                'title': 'Green baby romper',
                'price': '20.40',
                'style': 'small'
            })
        .swiper-slide.carousel-arrivals__slide
            +card-product({
                'img': '../../../img/fit-jeans.png',
                'title': 'Mid-rise slim cropped fit jeans',
                'price': '40.00',
                'style': 'small'
            })
        .swiper-slide.carousel-arrivals__slide
            +card-product({
                'img': '../../../img/earrings.png',
                'rating': '5',
                'title': 'Red dangle earrings',
                'price': '29.95',
                'style': 'small'
            })
        .swiper-slide.carousel-arrivals__slide
            +card-product({
                'img': '../../../img/baby-shoes.png',
                'title': 'Baby shoes with laces',
                'price': '30.60',
                'style': 'small'
            })
        .swiper-slide.carousel-arrivals__slide
            +card-product({
                'img': '../../../img/sport-cap.png',
                'rating': '5',
                'title': 'Black and white sport cap',
                'price': '18.15',
                'style': 'small'
            })
        .swiper-slide.carousel-arrivals__slide
            +card-product({
                'img': '../../../img/sunglasses.png',
                'title': 'Metal bridge sunglasses',
                'price': '89.95',
                'style': 'small'
            })
        .swiper-slide.carousel-arrivals__slide
            +card-product({
                'img': '../../../img/green-baby-romper.png',
                'rating': '4',
                'title': 'Green baby romper',
                'price': '20.40',
                'style': 'small'
            })
        .swiper-slide.carousel-arrivals__slide
            +card-product({
                'img': '../../../img/fit-jeans.png',
                'title': 'Mid-rise slim cropped fit jeans',
                'price': '40.00',
                'style': 'small'
            })
        .swiper-slide.carousel-arrivals__slide
            +card-product({
                'img': '../../../img/earrings.png',
                'rating': '5',
                'title': 'Red dangle earrings',
                'price': '29.95',
                'style': 'small'
            })
        .swiper-slide.carousel-arrivals__slide
            +card-product({
                'img': '../../../img/baby-shoes.png',
                'title': 'Baby shoes with laces',
                'price': '30.60',
                'style': 'small'
            })
    .swiper-pagination.carousel-arrivals__pagination