.tool-bar 
    .tool-bar__wishlist
        a.tool-bar__wishlist_link.icon_heart-outline(href="#") 
            p.tool-bar__wishlist-number 2
    .tool-bar__divider 
    .tool-bar__cart 
        a.tool-bar__cart_link.icon_cart(href="#")
            p.tool-bar__cart-number 4