.tool-bar 
    .tool-bar__wishlist
        a.icon-heart(href="#") 
            p.tool-bar__wishlist-number 2
    .tool-bar__divider 
    .tool-bar__cart 
        a.icon-shopping_cart(href="#")
            p.tool-bar__cart-number 4